oauthlib==1.0.3
python-firebase==1.2
requests==2.7.0
requests-oauthlib==0.5.0
tweepy==3.4.0
urllib3==1.12
scikit-learn==0.16.1
webapp2==2.5.2
jinja2==2.8
numpy==1.9.2
scipy==0.16.0
pandas==0.16.2
sklearn==0.16.1
matplotlib==1.4.3