
<form method="post" id="mainform">
  <h2>How far away?</h2>

  <select name="distance" form="mainform">
    <option value="1">1 mile</option>
    <option value="2">2 mile</option>
    <option value="3">3 mile</option>
    <option value="4">4 mile</option>
  </select>

  <select name="find" form="mainform">
    <option value="Restarants">Restarants</option>
    <option value="Nightlife">Nightlife</option>
    <option value="Coffee &amp; Tea">Coffee &amp; Tea</option>
    <option value="Activities">Activities</option>
  </select>

  <input type="hidden" name="lon" value="lonx">
  <input type="hidden" name="lat" value="latx">

  <button>Find the best place</button>
</form>
